<footer class="site-footer">
  <small>
    This is my personal blog and some of the material used in the articles and projects are not created by all the credits will be given to the creators</a>.
    Check out the my GitHub repo</a>.
  </small>
</footer>
